.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none; /* de base oculto */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.input-group {
  margin-bottom: 20px;
}
.mostrarAbecedario {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 2px 20px;
  display: inline-block;
  background-color: #f5f5f4;
  margin-bottom: 20px;
}
.contador {
  font-size: 1.5rem;
  font-weight: bold;
}
.aciertos {
  background-color: #9ae630;
}
.fallos {
  background-color: #ff6467;
}
.box {
  padding: 2px 10px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
